/* width */
.preview::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.preview::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.preview::-webkit-scrollbar-thumb {
  background: rgb(73, 189, 209);
  border-radius: 10px;
}

.preview {
  width: 360px;
  height: 640px;
  border: 40px solid #121212;
  border-width: 55px 7px;
  border-radius: 40px;
  margin: 50px auto;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}
